name: CI-CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Docker Image
        run: |
          docker build -t chaitaleerahate/cloudnativeapp:${{ github.sha }} CloudNativeApp
          docker push chaitaleerahate/cloudnativeapp:${{ github.sha }}

  helm-validate:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Helm
        uses: azure/setup-helm@v4

      - name: Helm Lint
        run: helm lint cloudnative-chart

      - name: Helm Template
        run: |
          helm template cloudnative-dev cloudnative-chart \
            -f cloudnative-chart/values.yaml \
            -f cloudnative-chart/values-dev.yaml \
            --set image.tag=${{ github.sha }}
