name: CI-CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Docker Image
        run: |
          docker build -t chaitaleerahate/cloudnativeapp:${{ github.sha }} CloudNativeApp
          docker push chaitaleerahate/cloudnativeapp:${{ github.sha }}

  deploy-dev:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: v1.29.0

      - name: Setup Helm
        uses: azure/setup-helm@v4

      - name: Configure kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" | base64 --decode > ~/.kube/config

      - name: Deploy to DEV
        run: |
          helm upgrade --install cloudnative-dev cloudnative-chart \
            -f cloudnative-chart/values.yaml \
            -f cloudnative-chart/values-dev.yaml \
            --set image.tag=${{ github.sha }}
